# Basic containers lesson
## Introduction

## Review

In [3]:
x = 5.5
print("Original Type: ", type(x))
print(x)

x = int(x)
print("New Type: ", type(x))
print(x)

Original Type:  <class 'float'>
5.5
New Type:  <class 'int'>
5

# Lists
list is an ordered collection of items that can contain multiple data types. list are mutable(able to change)

In [1]:
x = [1, 2, 3]
y = ["apple", "banana", "cherry"]

In [2]:
print(x)
print(type(x))

[1, 2, 3]
<class 'list'>

In [17]:
print(y)
print(type(y))

['apple', 'banana', 'cherry']
<class 'list'>

In [7]:
a = ["Bob", "Rob", "Tom", "John" ]
print(a)
print(len(a))

['Bob', 'Rob', 'Tom', 'John']
4

# Indexing Lists

In [8]:
y = ["apple", "banana", "cherry"]

In [23]:
y [0] # this gives us the string "apple"

y [-1] # this gives us the last string" cherry

'cherry'

In [10]:
a = ["Bob", "Rob", "Tom", "John" ]
print(a[-2])
print(a[2])

Tom
Tom

# appending items to a List

In [11]:
l = [1,2,3]
l.append(4)
l.remove(2)
print(l)

[1, 3, 4]

In [35]:
a = ["Bob", "Rob", "Tom", "John" ]
a.remove("Bob")
a.append("Dom")
print(a)
print("R.I.P Bob")

['Rob', 'Tom', 'John', 'Dom']
R.I.P Bob

# Dictionaries

In [36]:
person = {
    "name": "Alice",
    "age": 30,
    "email": "alice@email.com"
}
print(person)
print(type(person))

{'name': 'Alice', 'age': 30, 'email': 'alice@email.com'}
<class 'dict'>

In [37]:
d = {
    "firstname": "Ryan",
    "lastname": "Fischer",
    "grade": 9,
    "email": "rfischer27@saddleriverday.org"
}
print(d)
print(type(d))

{'firstname': 'Ryan', 'lastname': 'Fischer', 'grade': '9', 'email': 'rfischer27@saddleriverday.org'}
<class 'dict'>

In [39]:
print(d['firstname'])

Ryan

## adding items

In [41]:
d['job'] = 'student'

In [42]:
print(d)
print(d["job"])

{'firstname': 'Ryan', 'lastname': 'Fischer', 'grade': '9', 'email': 'rfischer27@saddleriverday.org', 'job': 'student'}
student

In [43]:
d['age'] = 18
print(d)

{'firstname': 'Ryan', 'lastname': 'Fischer', 'grade': '9', 'email': 'rfischer27@saddleriverday.org', 'job': 'student', 'age': 18}

# Tuples
like lists but not mutable

In [50]:
coordinate = (4,5)
print(coordinate)
print(type(coordinate))

(4, 5)
<class 'tuple'>

In [54]:
coordinate = (5, 10)
print(type(coordinate))
coordinate = list(coordinate)
print(type(coordinate))

<class 'tuple'>
<class 'list'>

In [1]:
people = ['Bob', 'John', 'Ron', 'Dom']
print(type(people))
people = tuple(people)
print(type(people))

<class 'list'>
('Bob', 'John', 'Ron', 'Dom')
<class 'tuple'>

In [2]:
my_list = [1,2,3,4]
print(my_list)

[1, 2, 3, 4]

In [13]:
my_list = [1,2,3,4]
print(my_list)
my_list.append(5)
print(my_list)
my_list.remove(2)
print(my_list)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 3, 4, 5]

In [7]:
my_dict = {
    "name": "Ryan",
    "age": 15,
    "email": "rfischer27@saddleriverday.org"

 }
print(my_dict)
my_dict["grade"] = 9
print(my_dict)

{'name': 'Ryan', 'age': 15, 'email': 'rfischer27@saddleriverday.org'}
{'name': 'Ryan', 'age': 15, 'email': 'rfischer27@saddleriverday.org', 'grade': 9}